<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pub_dlg_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{826,575}</string>
                <key>spriteSourceSize</key>
                <string>{826,575}</string>
                <key>textureRect</key>
                <string>{{1,1},{826,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pub_dlg_sow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{827,575}</string>
                <key>spriteSourceSize</key>
                <string>{827,575}</string>
                <key>textureRect</key>
                <string>{{1,578},{827,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pub_dlg_warehouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{827,575}</string>
                <key>spriteSourceSize</key>
                <string>{827,575}</string>
                <key>textureRect</key>
                <string>{{1,1155},{827,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pub_dlg.png</string>
            <key>size</key>
            <string>{829,1731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87471db8d793d39375f4207bedbfcb51:b72530ea0ef9ed543cae33f50e1aa499:b5c6a9d2fa9480c9f8244e4522e4ef90$</string>
            <key>textureFileName</key>
            <string>pub_dlg.png</string>
        </dict>
    </dict>
</plist>
